

<h2> MENTOR Modal Login Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  
    
    <!-- <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->

    <div class="container">
      <label for="uname"><b>Mentorname</b></label>
      <!-- <input type="text" placeholder="Enter Mentorname" name="uname" required> -->

      <input type="email" [(ngModel)]="email" name="uname"  required placeholder="Enter Email Id">
      



      <label for="psw"><b>Password</b></label>
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      <input type="password" [(ngModel)]="pwd" name="pwd"  required placeholder="Enter Password">
      
      <!-- <span *ngIf="email_id_ref.invalid && email_id_ref.dirty">
        <span *ngIf="email_id_ref.errors.required" class="error">E-mail Should not be empty</span>
    </span>
      <br>
      
      <span *ngIf="pass_word_ref.invalid && pass_word_ref.dirty">
        <span *ngIf="pass_word_ref.errors.required" class="error">Password Should not be empty</span>
      </span> -->

      <button  class="btn btn-success"  (click)="Login()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div>
      <h3 class="error">{{error_message}}</h3>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
 
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the mentor clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


