body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
.logo{
  color:white;
}
.loginborder{
	background-color:rgb(232, 227, 235);
	color:rgb(25, 2, 54);
	padding:35px;
	}
	
	.loginptext {
	background-color:transparent;
	position: absolute;
	/* top: 46%; */
	width: 98%;
	text-align: center;
	color: rgb(141, 12, 216);
	font-size: 35px;
	letter-spacing: 9px;
	text-transform: uppercase;
	font-weight: 700;
	}
.tbpad{
    padding-left: 20px;
}

.sbpad{
    padding-left: 40px;
}

.button1 {
	box-shadow: 0 4px 8px 0 rgba(247, 244, 244, 0.7), 0 6px 20px 0 rgba(0,0,0,0.19);
  }


  body {font-family: Arial, Helvetica, sans-serif;}

  /* Full-width input fields */
  input[type=email], input[type=password], input[type=text], input[type=number] {
	width: 100%;
	padding: 12px 20px;
	
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: rgb(150, 14, 212);
	color: rgb(0, 0, 0);
	padding: 14px 20px;
	margin: 11px 30%;
	border: none;
	cursor: pointer;
	width: 40%;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;

}

.frontimage{
	margin: 66px 27%;
    width: 50%;
    border: none;
	padding: 0%;

}
  
  button:hover {
	opacity: 0.8;
  }
  .btm {
	width: 50%;
	padding: 14px 20px;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
  }
  /* Extra styles for the cancel button */
  .cancelbtn {
	
	padding: 14px 20px;
	background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
	
  }
  
  img.avatar {
	width:30%;
	border-radius: 50%;
  }
  
  .container {
	padding: 16px;
  }
  
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #bd89db;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }
  