input[type=email], input[type=password], input[type=text], input[type=number] {
	width: 100%;
	padding: 12px 20px;
	
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  .button12 {
	background-color: rgb(150, 14, 212);
	color: rgb(0, 0, 0);
	padding: 14px 20px;
	margin: 11px 30%;
	border: none;
	cursor: pointer;
	
	border-radius: 50px;
	transition: all 0.3s ease-in-out;}

	.modal-content {
		background-color: #bd89db;
		margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
		border: 1px solid #888;
		 /* Could be more or less, depending on screen size */
	  }

