
<div class="d-flex justify-content-center" style="padding-top: 40px; color: rgb(255, 255, 255); font-weight: bold;">
    <h1>LEARNER PROFILE </h1>
</div>

<div class="container" style="padding: 30px" >

    <div class="card-deck" >

        <div class="card " style=" width:100px; height:200px; border-radius: 2rem; color: rgb(255, 255, 255); background-color: rgb(199, 139, 255,0.8);">
            
            <div class="card-body "style="padding: 30px">
                <span style=" color: rgba(255, 255, 255)" class="fa fa-clock-o fa-3x "></span>
                <h4 class="card-title" >Trainings Ongoing</h4>
             
                <button class="btn btn-dark button1" style="display: inline!important;" [routerLink]="['../usercurrent']">View</button>
            </div>
        </div>
    
  

        <div class="card" style="width:100px; height:200px; border-radius: 2rem; color: white;  background-color: rgb(199, 139, 255,0.8);">
            <div class="card-body">
                <span style=" color: white" class="fa fa-thumbs-o-up fa-3x"></span>

 
                <h4 class="card-title">Trainings Completed</h4>
                <button class="btn btn-dark button1" style="display: inline!important;" [routerLink]="['../usercompleted']">View</button>
            </div>
        </div>
   

        <div class="card" style="width:100px; height:200px; border-radius: 2rem; color: white;  background-color: rgb(199, 139, 255,0.8);">
            <div class="card-body">
                <span style=" color: white" class="fa fa-search fa-3x"></span>

                <h4 class="card-title">Search For Trainings </h4>
               
                <button class="btn btn-dark button1" style="display: inline-block !important;" [routerLink]="['../courselist']">Search</button>

            </div>
        
    </div>
  </div>

</div>
