<div class="col-lg-6 grid-margin stretch-card justify-content-center">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">USER DETAILS</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Users</th>
              <th>Course</th>
              <th>Progress</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let useritem of userlist" class="text">
              <td>{{useritem.userName}}</td>
              <td>{{trainingitem.skillName}}</td>
              <td class="text-danger font-weight-bold "> 28.76% <i class="ti-arrow-down"></i></td>
              <td><label class="badge badge-danger">Pending</label></td>
            </tr>

            <!-- <td class="text-danger"> 21.06% <i class="ti-arrow-down"></i></td>
                <td><label class="badge badge-warning">In progress</label></td>
                <td class="text-danger"> 35.00% <i class="ti-arrow-down"></i></td>
                <td><label class="badge badge-info">Fixed</label></td>
                <td class="text-success"> 82.00% <i class="ti-arrow-up"></i></td>
                <td><label class="badge badge-success">Completed</label></td>
                <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td>
                <td><label class="badge badge-warning">In progress</label></td> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>