/* @import url('https://fonts.googleapis.com/css?family=Inconsolata:700'); */


.Navbar
{
    margin: 10px;
    color: blue;
}

body, html{
height:100%;
margin:0;
font-size:16px;
font-family:"Lato", sans-serif;
font-weight:400;
line-height:1.8em;
color:rgb(49, 26, 26);
}


.card1{
	height: auto;
	width: 700px;
	/* background-color: rgba(255, 255, 255, 0.89); */
	background-color:rgba(196, 2, 255, 0.795);
	/* color: white; */
	border-radius: 20px;
  }
  
  .text,.h1{
	color: white;
  }
  
  .sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #b4b3b3;
	display: block;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  .main {
	margin-left: 160px;
	padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }
  
  .tablepadding{
	padding: 10px;
  }
  

div.a {

  line-height:1.8em;
  font-family:verdana;
  font-size: 100px;
  text-align: left;
  font-weight: 700;
  text-shadow: 0 0 20px rgb(87, 0, 145), 0 0 100px rgb(195, 116, 240);
  color: linear-gradient(38deg, #3e0a7e 0, #746f7a 20%, #746f7a 40%, #ebee00 65%, #ebee00 80%, #ebee00 100%);
  
  margin-left: 7%;
  margin-top: -9%;
 
  letter-spacing:4px;
  text-transform:uppercase;
  
 
}

div.b {
  line-height:1.8em;
  font-family:verdana;
  /* font-size: 100px; */
  text-align: left;
  /* font-weight: 700; */
  text-shadow: 0 0 20px rgb(87, 0, 145), 0 0 100px rgb(195, 116, 240);
  color: rgb(229, 222, 233);
  margin-left:8%;
  margin-top: -2%;
}

.titleimg{
  width: 10%;
  padding: 10px 20px;
  height: 5%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  float: right;
    width: 75%;
    padding: 2px;
    margin-left: 30%;
    margin-right: 75%;
    display: table;
}

.pimg1, .pimg2, .pimg3, .pimgClouds{
position:relative;
/* opacity:0.10; */
background-position:center;
background-size:cover;
background-repeat:no-repeat;

/*
    fixed = parallax
    scroll = normal
*/
background-attachment:fixed;
}

.pimg1{
  background-image: url("src/assets/purple/space.jpg");
min-height:720px;
}

.pimg11{
  background-image: url("/assets/Purple/front.png");
min-height:720px;
background-repeat: no-repeat;
background-position-y: -112%;
background-position-x: 100%;
padding: 14px 16px;
box-sizing: border-box;
}

.pimg2{
background-image:url("src\assets\Purple\123.jpg");
min-height:200px;

background-attachment:scroll;
}

.pimg3{
background-image:url('src/assets/purple/space.jpg');
min-height:400px;
}

.pimgClouds{
  background-image:url("src\assets\Purple\clouds.jpg");
  min-height:400px;
  background-attachment:scroll;
  }



.section{
text-align:center;
/* padding:50px 80px; */
}

.pad{
	padding:50px 80px;
}

.section-search
{
  padding:50px 80px;
}

.section-light{
background-color:#f4f4f4;
color:#666;
}

.section-dark{
  color: white;
  background-color: rgb(88, 18, 145);
  font-size: 150%;
  
}

.ptext{
position: absolute;
top: 46%;
width: 98%;
text-align: center;
color: rgb(141, 12, 216);
font-size: 35px;
letter-spacing: 9px;
text-transform: uppercase;
font-weight: 700;
}

.ptext .border{
background-color:rgb(232, 227, 235);
color:rgb(25, 2, 54);
padding:35px;
}

.ptext .border.trans{
background-color:transparent;
}




@media(max-width:568px){
.pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
}
}

/* Services Section
--------------------------------*/

#services {
  padding: 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: rgb(214, 185, 223);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out ;
  text-align: center;
  height:200px;
  
}

#services .box1 {
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 0 10px 40px 10px;
	background: rgb(209, 58, 255,0.4);
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out ;
	text-align: center;
	height:200px;
	
  }

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 1000;
  margin-bottom: 15px;
  font-size: 20px;
  color: #3e0a7e;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #1bb1dc;
}

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
  color: black;
  font-weight: 700;
}

.sectionHeight{
  min-height:400px;
}



/*----------------------------------- SEARCH BAR --------------------------*/

 * {
	 /* margin: 0; */
	 padding: 0;
	 box-sizing: border-box;
}

 body {
	 background: #252525;
}
 .wowsearch {
	 position: absolute;
	 margin: auto;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 300px;
	 height: 100px;
}
 .wowsearch .search {
	 position: absolute;
	 margin: auto;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 width: 80px;
	 height: 80px;
	 background: rgb(108, 12, 153);
	 border-radius: 50%;
	 transition: all 1s;
	 z-index: 4;
	 box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
 .wowsearch .search:hover {
	 cursor: pointer;
}
 .wowsearch .search::before {
	 content: "";
	 position: absolute;
	 margin: auto;
	 top: 22px;
	 right: 0;
	 bottom: 0;
	 left: 22px;
	 width: 12px;
	 height: 2px;
	 background: white;
	 transform: rotate(45deg);
	 transition: all 0.5s;
}
 .wowsearch .search::after {
	 content: "";
	 position: absolute;
	 margin: auto;
	 top: -5px;
	 right: 0;
	 bottom: 0;
	 left: -5px;
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 border: 2px solid white;
	 transition: all 0.5s;
}
 .wowsearch input {
	 font-family: 'Inconsolata', monospace;
	 position: absolute;
	 margin: auto;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 width: 50px;
	 height: 50px;
	 outline: none;
	 border: none;
	 background: crimson;
	 color: white;
	 text-shadow: 0 0 10px crimson;
	 padding: 0 80px 0 20px;
	 border-radius: 30px;
	 box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	 transition: all 1s;
	 opacity: 0;
	 z-index: 5;
	 font-weight: bolder;
	 letter-spacing: 0.1em;
}
 .wowsearch input:hover {
	 cursor: pointer;
}
 .wowsearch input:focus {
	 width: 300px;
	 opacity: 1;
	 cursor: text;
}
 .wowsearch input:focus ~ .search {
	 right: -250px;
	 background: #151515;
	 z-index: 6;
}
 .wowsearch input:focus ~ .search::before {
	 top: 0;
	 left: 0;
	 width: 25px;
}
 .wowsearch input:focus ~ .search::after {
	 top: 0;
	 left: 0;
	 width: 25px;
	 height: 2px;
	 border: none;
	 background: white;
	 border-radius: 0%;
	 transform: rotate(-45deg);
}
 .wowsearch input::placeholder {
	 color: white;
	 opacity: 0.5;
	 font-weight: bolder;
}
 
/*------------------------------------------------------------------------------------------*/





.containerSearchbar {
	padding-top: 50px;
	padding-bottom: 10px;
	color: #405065;
  }
  
  .search-hero {
	max-width: 500px;
	padding-bottom: 50px;
	margin:auto;
  }
  
  .form-control {
	box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
	font-family: FontAwesome;
  }

/* --------------------------------------------siGN UP---------------------------------------------------*/

.loginborder{
	background-color:rgb(232, 227, 235);
	color:rgb(25, 2, 54);
	padding:35px;
	}
	
	.loginptext {
	background-color:transparent;
	position: absolute;
	/* top: 46%; */
	width: 98%;
	text-align: center;
	color: rgb(141, 12, 216);
	font-size: 35px;
	letter-spacing: 9px;
	text-transform: uppercase;
	font-weight: 700;
	}
.tbpad{
    padding-left: 20px;
}

.sbpad{
    padding-left: 40px;
}

.button1 {
	box-shadow: 0 4px 8px 0 rgba(247, 244, 244, 0.7), 0 6px 20px 0 rgba(0,0,0,0.19);
  }


  body {font-family: Arial, Helvetica, sans-serif;}

  /* Full-width input fields */
  input[type=email], input[type=password], input[type=text], input[type=number] {
	width: 100%;
	padding: 12px 20px;
	
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: rgb(150, 14, 212);
	color: rgb(0, 0, 0);
	padding: 14px 20px;
	margin: 11px 30%;
	border: none;
	cursor: pointer;
	width: 40%;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;

}

.frontimage{
	margin: 66px 27%;
    width: 50%;
    border: none;
	padding: 0%;

}
  
  button:hover {
	opacity: 0.8;
  }
  .btm {
	width: 50%;
	padding: 14px 20px;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
  }
  /* Extra styles for the cancel button */
  .cancelbtn {
	
	padding: 14px 20px;
	background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
	
  }
  
  img.avatar {
	width:30%;
	border-radius: 50%;
  }
  
  .container {
	padding: 16px;
  }
  
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #bd89db;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }
  